.contactInfo {
  display: flex;
  width: auto;
  height: 12em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  gap: 2em;
  border-radius: 5px;
  background-color: rgb(45, 43, 43);
  color: var(--color-primary);
  padding: 1em;
  font-size: 1.5em;
  opacity: 1;
  padding-bottom: 2em;
}

.contactInfo h4 {
  align-self: center;
  margin: 0;
  padding: 0;
  font-family: var(--color-primary);
  letter-spacing: 2px;
  font-size: 1.3em;
}

.infoItem {
  display: flex;
  align-items: center;
  font-family: var(--font-family-secondary);
  margin-top: -1em;
}

.infoItem span {
  font-family: var(--font-family-secondary);
  letter-spacing: 1px;
  font-size: 0.7em;
}

.transparentBackground {
  background-color: transparent !important;
  width: auto;
}

.icon {
  margin-right: 10px;
  font-size: 1em;
  color: var(--color-accent);
}

@media (max-width: 836px) {
  .contactInfo {
    width: 80%;
  }

  .transparentBackground {
    width: 15em;
  }
}

@media (max-width: 440px) {
  .infoItem span {
    font-size: 0.6em;
  }

  .transparentBackground {
    width: 10em;
  }
}

@media (max-width: 388px) {
  .infoItem span {
    font-size: 0.5em;
  }
  .transparentBackground {
    width: 90%;
  }
}
