.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow-x: hidden;
  max-width: 80%;
  position: relative;
  left: 50%;
  height: 40em;
  transform: translateX(-50%);
  margin-top: 6em;
}

.imageContainer {
  border: 7px solid var(--color-accent);
  border-radius: 10px;
  width: 25em;
  height: 30em;
}

.image {
  width: 25em;
  height: 30em;
  max-width: 30em;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  transform: translate(20px, -20px);
}

.textContainer {
  max-width: 25em;
  padding: 1em;
  font-family: var(--font-family-secondary);
}

.textContainer > div {
  display: flex;
  font-family: var(--font-family-primary);
  margin-bottom: -1em;
}

.o {
  color: var(--color-accent);
}

.textContainer p {
  color: var(--color-secondary);
  line-height: 1.6em;
}

.cvButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-accent);
  transition: all 300ms ease-in;
}

.cvButton:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .textContainer {
    width: 100%;
  }

  .textContainer p {
    padding: 1em;
    margin-top: -1em;
  }

  .cvButton {
    margin-left: 1em;
    margin-top: -1em;
  }
}
