.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0.1)
    ),
    url("/src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  border-bottom: 50px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 200px),
    50% 100%,
    0 calc(100% - 200px)
  );
  overflow: hidden;
}

.siman {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  gap: 1em;
  padding: 0em 1em;
  margin-top: 1em;
  margin-left: 2em;
}

.siman img {
  width: 3em;
}

.siman h3 {
  font-family: var(--font-family-primary);
  letter-spacing: 3px;
  font-weight: 300;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar {
  position: absolute;
  right: 4em;
  font-family: var(--font-family-primary);
  margin-top: 1em;
  display: flex;
  width: auto;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  transition: transform 100ms ease-in;
}

.navbar a:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}

.mobileMenuButton {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bar:nth-child(1) {
  transform-origin: center left;
}

.bar:nth-child(2) {
  transform-origin: center;
}

.bar:nth-child(3) {
  transform-origin: center left;
}

.open .bar:nth-child(1) {
  transform: rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  position: absolute;
  z-index: 2;
  top: 60px;
  width: 100vw;
  right: 0px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.3s ease forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobileMenu a {
  color: var(--color-secondary);
  margin: 10px 0;
  font-size: 1.2em;
  font-family: var(--font-family-secondary);
  letter-spacing: 3px;
  text-decoration: none;
}

.mobileMenu a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerImage {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

h1 {
  margin: 10px 0;
  font-size: 2.5em;
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 500;
  letter-spacing: 6px;
  margin-bottom: 0;
}

.content p {
  font-size: 1.5em;
  font-family: var(--font-family-secondary);
  color: var(--color-primary);
  letter-spacing: 5px;
}

.content button {
  font-family: var(--font-family-primary);
  background-color: var(--color-accent);
  margin-top: 2em;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 2.5px;
  transition: transform 300ms ease-in;
}

.content button:hover {
  transform: scale(1.1);
  border: none;
}

@media (max-width: 900px) {
  .header {
    display: none;
  }

  .siman {
    margin-left: 0.4em;
  }
  .mobileMenuButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobileMenu {
    display: flex;
  }

  .hero {
    background-image: url("/src/assets/background.jpg");
    width: 100vw;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.1)
      ),
      url("/src/assets/background.jpg");
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 100px),
      50% 100%,
      0 calc(100% - 100px)
    );
  }

  .mobileMenuButton {
    display: flex;
    flex-direction: column;
  }

  .bar {
    width: 30px; /* Adjust width as needed */
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 555px) {
  .hero {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 50px),
      50% 100%,
      0 calc(100% - 50px)
    );
  }
}

@media (max-width: 364px) {
  .hero {
    width: 100%;
    font-size: 0.9em;
  }
}

@media (max-width: 334px) {
  .hero {
    width: 100%;
    font-size: 0.7em;
  }

  .content button {
    font-size: 1.5em !important;
  }
}
