.info {
  text-align: center;
  margin-top: 6em;
}

.info h2 {
  font-family: var(--font-family-primary);
}

.info > div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 6em;
  justify-content: space-evenly;
}

.info > span {
  color: var(--color-accent);
}

.info div aside {
  position: absolute;
  width: 15em;
  height: 30em;
  border-radius: 5px;
  left: -3em;
  opacity: 0.8;
  z-index: -1;
  background-color: var(--color-accent);
}

@media (max-width: 836px) {
  .info > div {
    margin-top: 4em;
  }
  .info > div {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
  .info aside {
    display: none;
  }
}
