.carouselContainer {
  width: 90vw;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0;
  text-align: center;
}

.carouselContainer h2 {
  font-family: var(--font-family-primary);
  margin-bottom: 0.2em;
  letter-spacing: 2px;
  color: var(--color-secondary);
}

.car {
  margin-top: 1em;
}

.carouselContainer span {
  font-family: var(--font-family-secondary);
  color: var(--color-accent);
  letter-spacing: 1px;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.serviceIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
}

p {
  font-size: 1rem;
  font-family: var(--font-family-secondary);
}

.customCarouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--color-primary); /* Darker purple on hover */
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-accent);
  z-index: 2; /* Ensure the buttons are above the carousel */
  opacity: 0.8;
}

.customCarouselButton:hover {
  background-color: var(--color-primary);
  font-size: 1.3em;
  opacity: 1;
}

.customCarouselButton:focus {
  border: none;
  outline: none;
}

.prevButton {
  border-radius: 10px;
  left: -10px;
}

.nextButton {
  right: -10px; /* Position the right button */
  border-radius: 10px;
  position: absolute;
  z-index: 9999999;
}

.serviceGroup {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
