body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

:root {
  /* Font families */
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Lora", serif;

  /* Colors */
  --color-primary: #fefefa;
  --color-secondary: #1b1b1b;
  --color-accent: #852d7b;
}

body h2 {
  color: var(--color-secondary);
}

body p {
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
}

body span {
  color: var(--color-secondary);
}

body input,
body textarea {
  background-color: var(--color-primary);
}
